main {
    padding: 1rem;
    padding-bottom: 50vh;
    overflow: scroll;
}

.container {
    width: min(100% - 2rem, 600px);
    margin-inline: auto;

    @media screen and (min-width: 1400px) {
        width: min(100% - 2rem, 1100px);
    }
}