@use "app-mixins" as m;

$hostPadding: 10px;

:host {
    padding: $hostPadding;

    display: flex;
    margin: 0;
}

mat-grid-list {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    app-card {
        @include m.absolute-full();
    }
}