<main>
    <section>
        <h1>Them kitchen sink</h1>
    </section>

    <section>
        <h1>Slider</h1>

        <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
    </section>


    <section>
        <h1>Address form</h1>
        <app-example-adress-form></app-example-adress-form>
    </section>

    <section id="navigation">
        <h1>Navigation</h1>
        <a [routerLink]="['side-bar-example']">Click here to visit an example</a>
    </section>

    <section>
        <h1>Example table</h1>
        <app-example-table></app-example-table>
    </section>

    <section>
        <h1>Example dashboard</h1>
        <app-example-dashboard></app-example-dashboard>
    </section>

    <section>
        <h1>Example tree</h1>
        <app-example-tree></app-example-tree>
    </section>

    <section>
        <h1>Example drag-drop</h1>
        <app-example-drag-drop></app-example-drag-drop>
    </section>

    <section>
        <h1>Example autocomplete</h1>
        <app-auto-complete-example></app-auto-complete-example>
    </section>

    <section>
        <h1>Example badge</h1>
        <app-badge-example></app-badge-example>
    </section>

    <section>
        <h1>Example bottom sheet</h1>
        <app-bottom-sheet-example></app-bottom-sheet-example>
    </section>

    <section>
        <h1>Example buttons</h1>
        <app-example-buttons></app-example-buttons>
    </section>

    <section>
        <h1>Example toggle buttons</h1>
        <app-example-button-toggle></app-example-button-toggle>
    </section>
</main>