// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Plus imports for other components in your app.
@use './styles/components' as components;

@mixin theme($theme) {
  @include mat.all-component-themes($theme);
  @include components.theme($theme);
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$light-primary: mat.define-palette(mat.$yellow-palette, 600, 50, 900);
$light-accent: mat.define-palette(mat.$light-blue-palette, 900, 600);
$light-warn: mat.define-palette(mat.$deep-orange-palette, A400, A100, A700);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$light-theme: mat.define-light-theme((color: (primary: $light-primary,
        accent: $light-accent,
        warn: $light-warn,
      )));

$dark-primary: mat.define-palette(mat.$lime-palette);
$dark-accent: mat.define-palette(mat.$purple-palette, 200, 100);
$dark-warn: mat.define-palette(mat.$red-palette, 200, A100, A700);

$dark-theme: mat.define-dark-theme((color: (primary: $dark-primary, accent: $dark-accent, warn: $dark-warn)));

// Include theme styles for core and each component used in your app.
@include theme($light-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  &.dark-theme {
    @include theme($dark-theme);

    a {
      color: #aaf
    }

    .mat-drawer-container {
      background-color: #202020
    }

    .mat-toolbar.mat-primary {
      background: #333;
      color: white;
    }
  }
}